{% extends 'base.html.twig' %}

{% block title %}
    {% if app.user %}
    Log out?
    {% else %}
    Log in!
    {% endif %}
{% endblock %}

{% block body %}
    <div class="container">
        <form class="form-signin" method="post">
            {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}

            {% if app.user %}
                <div class="alert alert-success" role="alert">
                    You are logged in as {{ app.user.userIdentifier }}. <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% else %}

            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mb-2" placeholder="Email address" required autofocus>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control mb-3" placeholder="Password" required>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>
    </div>
    <br>
    <div class="container">
    <h1 class="h3 mb-3 font-weight-normal">New user?</h1>
        <button onclick="document.location='{{ path('app_register') }}'" class="btn btn-lg btn-primary">Sign up</button>
    </div>
    {% endif %}
{% endblock %}