{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="text-center mt-5 mb-3">Show Contact</h2>
        <div class="card">
            <div class="card-header">
                <a class="btn btn-outline-info float-right" href="{{ path('app_contact_index') }}">
                    View All Contacts
                </a>
                <a class="btn btn-outline-success" href="{{ path('app_contact_edit', {'id': contact.id}) }}">
                    Edit
                </a>

            </div>
            <div class="card-body">
                <b class="text-muted">Name:</b>
                <p>{{ contact.name }}</p>
                <b class="text-muted">Phone number:</b>
                <p>{{ contact.phoneNumber }}</p>
                <b class="text-muted">Email:</b>
                <p>{{ contact.email }}</p>
                <b class="text-muted">Other:</b>
                <p>{{ contact.other }}</p>
                <b class="text-muted">Date Created:</b>
                <p>{{ contact.createdAt ? contact.createdAt|date('Y-m-d H:i:s') : '' }}</p>
                <b class="text-muted">Date Updated:</b>
                <p>{{ contact.updatedAt ? contact.updatedAt|date('Y-m-d H:i:s') : '' }}</p>
            </div>
        </div>
    </div>
{% endblock %}